@charset "UTF-8";

body {
          background-color: rgb(66, 238, 23);
          background-image: url(images/favicon.svg.png);
          background-position: center;
          background-size: cover;
          font-size: 18px;
          font-family: monospace,Arial, Helvetica, sans-serif;
          color: rgb(19, 230, 194);
          margin:0;
}

.navbar {
          background-color: white;
          width: 100%;
          padding: 5px;
          border-bottom: 5px solid rgb(185, 213, 237);
          position: fixed;
          overflow: hidden;
}

.navbar h1 {
          display: inline;
}

.navbar h1 a {
          color: rgb(19, 230, 194);
          text-decoration: none;
}

.navbar h1 a:hover {
          opacity: 0.5;
}

.navbar ul {
          display: inline;
}

.navbar ul li {
          display: inline;
          list-style-type: none;
}

.navbar ul li a {
          color: rgb(66, 238, 23);
          text-decoration: none;
}

.navbar ul li a:hover {
          opacity: 0.5;
}

.contents {
          text-align: center;
          padding-top: 60px;
}

.contents a {
          color: rgb(66, 238, 23);
          text-decoration: none;
}

.contents a:hover {
          text-decoration: underline;
          opacity: 0.5;
}

.links {
          padding: 5px;
}

.links a {
          padding: 5px;
          background-color: aliceblue;
}

.links a:hover {
          text-decoration: none;
}

.footer {
          background-color: white;
          width: 100%;
          padding: 5px;
          border-top: 5px solid rgb(185, 213, 237);
          position: relative;
          overflow: hidden;
}

.footer h1 {
          display: inline;
}

.footer h1 a {
          color: rgb(19, 230, 194);
          text-decoration: none;
}

.footer h1 a:hover {
          opacity: 0.5;
}

.footer ul {
          display: inline;
}

.footer ul li {
          display: inline;
          list-style-type: none;
}

.footer ul li a {
          color: rgb(66, 238, 23);
          text-decoration: none;
}

.footer ul li a:hover {
          opacity: 0.5;
}